header {
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@font-face {
  font-family: Xilosa;
  src: url(/media/fonts/xilosa_.ttf);
}
h1 {
  color: var(--accent-color);
  font-family: Xilosa;
  filter: drop-shadow(0 0 5px var(--background-color));
  font-size: 3.5rem;
  text-align: center;
  margin-top: -10px;
}
h1 > span {
  color: var(--text-color);
}
header > button {
  color: var(--background-color);
  padding: 10px;
  width: 40%;
  margin: 15px 0 15px 0;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(212, 212, 212);
  transition: 0.3s;
}
header > h2{
  text-align: center;
}
header > button:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}
 main > section > aside > p{
  font-size: 1.5rem;
  text-align: center;
  font-family: monospace, sans-serif;
}
body > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: var(--primary-color);

  text-align: center;
  color: var(--background-color);
  box-shadow: inset 0 0 10px var(--background-color);
}
body > section > p {
  font-weight: bold;
  font-size: 1.4rem;
}
body > main {
  overflow-x: hidden;
}
body > main > article {
  margin: 30px;
}
.big-header {
  margin: 30px;
  font-size: 2rem;
}
.article-subheader {
  font-size: 1.5rem;
  margin: 15px 0 5px 0;
}
.big-header:last-of-type {
  text-align: center;
  text-decoration: underline;
  margin: 0;
}
.card {
  position: absolute;
  left: 100%;
  border: 1px solid #ffffff56;
  border-radius: 10px;
  margin: 10px;
  padding: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4242424f;
  max-height: 220px;
  min-height: 200px;
  min-width: 33%;
  max-width: 33%;
  animation: slide 20s linear infinite;
}
body:has(.card:hover) .card {
  animation-play-state: paused;
}
.card > i {
  font-size: 3rem;
}
.card > h2 {
  font-size: 1.5rem;
}
.card > h3 {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 600;
}
.card > blockquote {
  text-align: center;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

/*animation for carusel */
@keyframes slide {
  to {
    transform: translateX(-150vw);
  }
}

#person-carusel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  position: relative;
  height: 220px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 
  );
}
#card1 {
  animation-delay: calc(20s / 3 * (3 - 1) * -1);
}
#card2 {
  animation-delay: calc(20s / 3 * (3 - 2) * -1);
}
#card3 {
  animation-delay: calc(20s / 3 * (3 - 3) * -1);
}
#social-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;  
}
#social-icons> a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
}
#social-icons> a > i{
  font-size: 3rem;
  color: var(--primary-color);
  transition: 0.3s;

}
#social-icons> a:hover > i{
  color: var(--text-color);
}
body > footer > section {
  height: 0;
  border: none;
}
body > footer {
  padding: 0;
}

